
  <nav>
    <div class="nav-wrapper">
      <a  class="brand-logo">ServiceTechnologies</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="isLogin()"><a [routerLink]="['home', userId]">Home</a></li>
        <li><a routerLink="orden">Crear Orden</a></li>
        <li><a routerLink="report">Reportes</a></li>
        <li *ngIf="!isLogin()"><a routerLink="login">Login</a></li>
        <li *ngIf="isLogin()" (click)="logout()"><a>Logout</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li *ngIf="isLogin()"><a [routerLink]="['home', userId]">Home</a></li>
    <li><a routerLink="orden">Crear Orden</a></li>
    <li><a routerLink="report">Reportes</a></li>
    <li *ngIf="!isLogin()"><a routerLink="login">Login</a></li>
    <li *ngIf="isLogin()" (click)="logout()"><a>Logout</a></li>
  </ul>
  <router-outlet></router-outlet>